body {
  padding-top: 70px;
  background-color: #FFFFFF;
}

.my_body {
  margin-left: 10px;
  margin-right: 40px;
}

h3 {
  display: inline-block;
}

input[type="checkbox"] {
  margin-left: 5px;
}

.redem_form {
  display:none;
}

.glyphicon-refresh-animate {
  animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
  -moz-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-moz-keyframes spin2 {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

footer {
  width: 100%;
  height: 100%;
}

.navbar, .panel-default .panel-heading, footer,
.modal-header, .input-group-addon, .jumbotron {
  color: #000000;
  background-color: #ece3c7;
}


.navbar-default .navbar-nav > li.dropdown.open > ul.dropdown-menu,
.navbar-default .navbar-nav > li.dropdown.active.open > ul.dropdown-menu a:hover,
.navbar-default .navbar-nav > li.dropdown.open > a,
.navbar-default .navbar-nav > li.dropdown.open > ul.dropdown-menu,
.navbar-default .navbar-nav > li.dropdown.open > ul.dropdown-menu a:hover,
.nav-pills > li > a {
  color: #000000;
  background-color: #ece3c7;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li.dropdown.active.open > a,
.navbar-default .navbar-nav > li.dropdown.open > ul.dropdown-menu > li.active > a,
.navbar-default .navbar-nav > li.dropdown.open > ul.dropdown-menu > li.active > a,
.nav-pills > li.active > a,
.nav-pills a:hover,
.nav-pills .active a:hover,
.nav > li > a:hover, 
.nav > li > a:focus,
.nav-pills > li.active > a:focus {
  color: #000000;
  background: #DCD3B7;
}

.style-red-color { 
  color:red;
}
.style-green-color { 
  color:green;
}

.style-highlight { 
  color:red;
  font-weight:bold;
}
.style-highlightQuesaco { 
  font-weight:bold;
  color: black;
}



.info {
   position: relative;
   color: black;
   text-decoration: none;
   border-bottom: 1px gray dotted; /* On souligne le texte. */
}
.infored {
   position: relative;
   color: red;
   font-weight:bold;
   text-decoration: none;
   border-bottom: 1px gray dotted; /* On souligne le texte. */
}
.info span, .infored span {
   display: none; /* On masque l'infobulle. */
}
.info:hover, .infored:hover {
   background: none; /* Correction d'un bug d'Internet Explorer. */
   z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */

   cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}
.info:hover span, .infored:hover span {
   display: inline; /* On affiche l'infobulle. */
   position: absolute;

   white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */

   top: 30px; /* On positionne notre infobulle. */
   left: 20px;

   background: white;

   color: green;
   padding: 3px;

   border: 1px solid green;
   border-left: 4px solid green;
}




































