{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>REDEM algorithm</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/curve.css' %}">
</head>

<body>
  <div class="row">
    <div class="container">
      <div class="jumbotron">
        <center> 
          <h1 class="text-center">REDEM</h1>
        </center>
        {{web_page_content.Index_Text|safe}}
        <center> 
          <div class="text-center">
          <button type="button" id="visualize_button" class="btn btn-light btn-lg">
            {{web_page_content.Index_Button}}
          </button>
          </div> 
        </center>
      </div>
      <p>
        <center>
          <A href="https://team.inria.fr/steep/">
            <IMG src="{% static 'img/logo_INRIA.png' %}" height=73 style="margin:0px 50px"></IMG></A>
          <A href="https://gael.univ-grenoble-alpes.fr/research-areas/energy-axis?language=en">
            <IMG src="{% static 'img/logo-cnrs.jpg' %}" height=73 style="margin:0px 50px"></IMG></A>
          <A href="https://www.univ-grenoble-alpes.fr/en/">
            <IMG src="{% static 'img/logo-uga.png' %}" height=73 style="margin:0px 50px"></IMG></A>
          <A href="http://www.lmd.jussieu.fr">
            <IMG src="{% static 'img/upmc-logotype.gif' %}" height=73 style="margin:0px 50px"></IMG></A>
        </center>
      </p>
    </div>
  </div>
  </div>

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/jq_index.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</body>

</html>