{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>REDEM</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-4.6.2-dist/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/curve.css' %}">
</head>

<body id="top_of_page">

  {% csrf_token %}

  <nav class="navbar navbar-expand-lg navbar-light">

    <div class="collapse navbar-collapse">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" role="button" id="button_REDEM_WEB" href="#top_of_page"
            title="{{web_page_content.Explanation_info_bulle}}">REDEM</a>
        </li>
        <li class="nav-item" id="container_button_overview">
          <a class="nav-link" id="button_overview" href="#">{{web_page_content.Overview}}</a>
        </li>
        <li class="nav-item" id="container_button_visualize">
          <a class="nav-link" id="button_visualize" href="#">{{web_page_content.Visualize}}</a>
        </li>
        <li class="nav-item" id="container_button_challenge_indc">
          <a class="nav-link" id="button_challenge_indc" href="#">{{web_page_content.Challenge_your_INDC}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
            {{web_page_content.All_Parameters}}</a>
          <div class="dropdown-menu">
            <button class="dropdown-item" type="button" id="button_expert"
              href="#">{{web_page_content.Expert_Version}}</button>
            <button class="dropdown-item" type="button" id="button_envelope"
              href="#">{{web_page_content.Envelope}}</button>
            <button class="dropdown-item" type="button" id="button_range" href="#">{{web_page_content.Range}}</button>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-expanded="false">{{web_page_content.Languages}}</a>
          <div class="dropdown-menu">
            {% for language in language_l %}
            <a class="dropdown-item button_languages" id="{{ "container_button_"|add:language }}" href="#">{{language}}</a>
            {% endfor %}
        </li>
      </ul>
    </div>
  </nav>

  <div class="my_body">
    <div class="container-fluid">

      <!--
          Chart OVERVIEW
        -->

      <div id="OVERVIEW_form_chart" class="redem_form">
        <div class="row">
          <div class="col-md-12">
            <div id="OVERVIEW_container_charts_number_1" hidden>
              <div id="OVERVIEW_charts_number_1" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron" id="jumbotron_OVERVIEW_1">
              {{web_page_content.Overview_Description_1|safe}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="OVERVIEW_container_charts_number_2" hidden>
              <div id="OVERVIEW_charts_number_2" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron" id="jumbotron_OVERVIEW_2">
              {{web_page_content.Overview_Description_2|safe}}
            </div>
          </div>
        </div>
      </div>

      <!--
          Chart VISUALIZE
        -->

      <div id="VISUALIZE_form_chart" class="redem_form">
        <div class="row">
          <div class="col-md-6">
            <div id="VISUALIZE_container_charts_number_1" hidden>
              <div id="VISUALIZE_charts_number_1" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="VISUALIZE_container_charts_number_2" hidden>
              <div id="VISUALIZE_charts_number_2" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron" id="jumbotron_VISUALIZE_1" hidden>
              {{web_page_content.Visualize_Description_1|safe}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div id="VISUALIZE_container_charts_number_3" hidden>
              <div id="VISUALIZE_charts_number_3" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="VISUALIZE_container_charts_number_4" hidden>
              <div id="VISUALIZE_charts_number_4" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron" id="jumbotron_VISUALIZE_2" hidden>
              {{web_page_content.Visualize_Description_2|safe}}
              {{web_page_content.Visualize_Description_3|safe}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron">
              {{web_page_content.Visualize_Description_0|safe}}
            </div>
          </div>
        </div>
      </div>

      <!--
          Chart Effort Visualization
        -->

      <div id="EFFORT_VISUALIZATION_form_chart" class="redem_form">
        <div class="row">
          <div class="col-md-6">
            <div id="EFFORT_VISUALIZATION_container_charts_number_1" hidden>
              <div id="EFFORT_VISUALIZATION_charts_number_1" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="EFFORT_VISUALIZATION_container_charts_number_2" hidden>
              <div id="EFFORT_VISUALIZATION_charts_number_2" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron" id="jumbotron_EFFORT_VISUALIZATION_1" hidden>
              {{web_page_content.Effort_Visualisation_Description_1|safe}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div id="EFFORT_VISUALIZATION_container_charts_number_3" hidden>
              <div id="EFFORT_VISUALIZATION_charts_number_3" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="EFFORT_VISUALIZATION_container_charts_number_4" hidden>
              <div id="EFFORT_VISUALIZATION_charts_number_4" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron" id="jumbotron_EFFORT_VISUALIZATION_2" hidden>
              {{web_page_content.Effort_Visualisation_Description_2|safe}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron">
              {{web_page_content.Effort_Visualisation_Description_0|safe}}
            </div>
          </div>
        </div>

      </div>

      <!--
          Chart EXPERT
        -->

      <div id="EXPERT_form_chart" class="redem_form">
        <div class="row">
          <div class="col-md-6">
            <div id="EXPERT_container_charts_number_1" hidden>
              <div id="EXPERT_charts_number_1" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="EXPERT_container_charts_number_2" hidden>
              <div id="EXPERT_charts_number_2" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div id="EXPERT_container_charts_number_3" hidden>
              <div id="EXPERT_charts_number_3" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="EXPERT_container_charts_number_4" hidden>
              <div id="EXPERT_charts_number_4" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
      </div>

      <!--
          Chart ENVELOPPE
        -->

      <div id="ENVELOPE_form_chart" class="redem_form">
        <div class="row">
          <div class="col-md-6">
            <div id="ENVELOPE_container_charts_number_1" hidden>
              <div id="ENVELOPE_charts_number_1" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="ENVELOPE_container_charts_number_2" hidden>
              <div id="ENVELOPE_charts_number_2" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div id="ENVELOPE_container_charts_number_3" hidden>
              <div id="ENVELOPE_charts_number_3" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="ENVELOPE_container_charts_number_4" hidden>
              <div id="ENVELOPE_charts_number_4" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
      </div>

      <!--
          Chart RANGE
        -->

      <div id="RANGE_form_chart" class="redem_form">
        <div class="row">
          <div class="col-md-6">
            <div id="RANGE_container_charts_number_1" hidden>
              <div id="RANGE_charts_number_1" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="RANGE_container_charts_number_2" hidden>
              <div id="RANGE_charts_number_2" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div id="RANGE_container_charts_number_3" hidden>
              <div id="RANGE_charts_number_3" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="RANGE_container_charts_number_4" hidden>
              <div id="RANGE_charts_number_4" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>
      </div>

      <!--
          Chart CHALLENGE YOUR INDC
        -->

      <div id="CHALLENGE_YOUR_INDC_form_chart" class="redem_form">
        <div class="row">
          <div class="col-md-6">
            <div id="CHALLENGE_YOUR_INDC_container_charts_number_1" hidden>
              <div id="CHALLENGE_YOUR_INDC_charts_number_1" style="width:100%; height:400px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="CHALLENGE_YOUR_INDC_container_charts_number_2" hidden>
              <div id="CHALLENGE_YOUR_INDC_charts_number_2" style="width:100%; height:400px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron" id="jumbotron_CHALLENGE_YOUR_INDC_1" hidden>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="jumbotron">
              {{web_page_content.Challenge_INDC_Description_0|safe}}
            </div>
          </div>
        </div>

      </div>

      <!--
          Formulaire
      -->
            <div id="form_box" class="redem_form">
        <div class="row">
          <div class="col-sm-6">
            <h3>
              <div class="country_box checkbox">
                <label class="col-form-label">
                  <input class="header_checkbox region_checkbox" id="{{ "zone_"|add:all_country}}" type="checkbox"
                    name="curve_choice">
                  {{all_country_name}}
                </label>
              </div>
            </h3>

            <div class="panel-group" id="zone_selection">
              {% for region_tuple in region_assos %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title panel-title-sm">
                    <input class="header_checkbox region_checkbox" id="{{ "zone_"|add:region_tuple.0 }}"
                      type="checkbox" name="curve_choice">
                    <a data-toggle="collapse" data-parent="#zone_selection" href="#{{"collapse_"|add:region_tuple.0 }}">
                      {{ region_tuple.1 }}
                    </a>
                  </div>
                </div>
                <div id="{{ "collapse_"|add:region_tuple.0 }}" class="panel-collapse collapse">
                  <div class="panel-body">
                    {% for country in region_tuple.2 %}
                    <div class="country_box checkbox checkbox-sm">
                      <label class="col-form-label col-form-label-sm"><input class="country_checkbox" 
                        id="{{ "zone_"|add:country.0 }}" type="checkbox" name="curve_choice"> {{ country.1 }}</label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-sm-6">
            <!--
              Affichage des temperatures
            -->
            {% for temperature in temperature_l %}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="temperature_choice" id="inlineRadio_{{ temperature }}"
                value="{{ temperature }}">
              <label class="form-check-label" for="inlineRadio_{{ temperature }}">{{ temperature }}°C</label>
            </div>
            {% endfor %}

            <!--
              Onglet VISUALIZE
            -->
            <div id="VISUALIZE_form" class="redem_form">
              <div class="input-group">
                <span class="input-group-addon">{{web_page_content.YDm}}</span>
                <input id="id_tmax_visualize" name="tmax" type="text" class="form-control" value="2030">
              </div>
            </div>

            <!--
              Onglet Effort Visualization
            -->
            <div id="EFFORT_VISUALIZATION_form" class="redem_form">
              <div class="input-group">
                <span class="input-group-addon">{{web_page_content.YDm}}</span>
                <input id="id_tmax_effort_visualization" name="tmax" type="text" class="form-control" value="2030">
              </div>
            </div>

            <!--
              Onglet CHALLENGE YOUR INDC
            -->
            <div id="CHALLENGE_YOUR_INDC_form" class="redem_form">
              <div class="input-group">
                <span class="input-group-addon">{{web_page_content.YDm}}</span>
                <input id="id_tmax_challenge_your_indc" name="tmax" type="text" class="form-control" value="2030">
              </div>
              <br>
            </div>

            <!--
              Onglet EXPERT
            -->
            <div id="EXPERT_form" class="redem_form">
              <div class="input-group">
                <span class="input-group-addon">{{web_page_content.YDm}}</span>
                <input id="id_tmax_expert" name="tmax" type="text" class="form-control" value="2030">
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon">r</span>
                <input id="id_r_expert" name="r" type="text" class="form-control" value="1">
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon">&gamma;</span>
                <input id="id_gamma_expert" name="gamma" type="text" class="form-control" value="2">
              </div>
              <br>


              <div class="input-group">
                <span class="input-group-addon">&theta;</span>
                <input id="id_theta_expert" name="theta" type="text" class="form-control" value="1000">
              </div>
              <br>

              <div class="input-group">
                <span class="input-group-addon">&sigma;</span>
                <input id="id_free_sigma_expert" name="free_sigma" type="text" class="form-control" value="3">
              </div>
              <br>
            </div>

            <!--
              Onglet ENVELOPPE
            -->
            <div id="ENVELOPE_form" class="redem_form">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="control-label col-md-2" for="tmax_min_envelope">{{web_page_content.YDm}} min:</label>
                  <div class="col-md-10">
                    <input id="tmax_min_envelope" type="range" value="2030" max="2100" min="2020" step="5"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="tmax_max_envelope">{{web_page_content.YDm}} max:</label>
                  <div class="col-md-10">
                    <input id="tmax_max_envelope" type="range" value="2030" max="2100" min="2020" step="5"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="r_min_envelope">r min:</label>
                  <div class="col-md-10">
                    <input id="r_min_envelope" type="range" value="2" max="50" min="1" step="1" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="r_max_envelope">r max:</label>
                  <div class="col-md-10">
                    <input id="r_max_envelope" type="range" value="2" max="50" min="1" step="1" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="gamma_min_envelope">&gamma; min:</label>
                  <div class="col-md-10">
                    <input id="gamma_min_envelope" type="range" value="2" max="50" min="1" step="1"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="gamma_max_envelope">&gamma; max:</label>
                  <div class="col-md-10">
                    <input id="gamma_max_envelope" type="range" value="2" max="50" min="1" step="1"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="theta_min_envelope">&theta; min:</label>
                  <div class="col-md-10">
                    <input id="theta_min_envelope" type="range" value="100" max="100" min="1" step="1"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="theta_max_envelope">&theta; max:</label>
                  <div class="col-md-10">
                    <input id="theta_max_envelope" type="range" value="100" max="100" min="1" step="1"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="free_sigma_min_envelope">&sigma; min:</label>
                  <div class="col-md-10">
                    <input id="free_sigma_min_envelope" type="range" value="2" max="50" min="1" step="1"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2" for="free_sigma_max_envelope">&sigma; max:</label>
                  <div class="col-md-10">
                    <input id="free_sigma_max_envelope" type="range" value="2" max="50" min="1" step="1"
                      class="form-control">
                  </div>
                </div>
              </form>
            </div>

            <!--
              Onglet RANGE
            -->
            <div id="RANGE_form" class="redem_form">
              <div class="row">
                <div class="col-md-4">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label class="control-label" for="id_tmax_range">{{web_page_content.YDm}}:</label>
                      <input id="id_tmax_range" type="radio" name="param_choice" value="tmax">
                    </div>

                    <div class="form-group">
                      <label class="control-label" for="id_r_range">r:</label>
                      <input id="id_r_range" type="radio" name="param_choice" value="r">
                    </div>

                    <div class="form-group">
                      <label class="control-label" for="id_gamma_range">&gamma;:</label>
                      <input id="id_gamma_range" type="radio" name="param_choice" value="gamma">
                    </div>

                    <div class="form-group">
                      <label class="control-label" for="id_theta_range">&theta;:</label>
                      <input id="id_theta_range" type="radio" name="param_choice" value="theta">
                    </div>

                    <div class="form-group">
                      <label class="control-label" for="id_free_sigma_range">&sigma;:</label>
                      <input id="id_free_sigma_range" type="radio" name="param_choice" value="free_sigma">
                    </div>
                  </form>
                </div>

                <div class="col-md-2">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label class="control-label" for="id_min_range">MIN:</label>
                      <input id="id_min_range" type="text" value="1">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="id_max_range">MAX:</label>
                      <input id="id_max_range" type="text" value="50">
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="id_step_range">{{web_page_content.RANGE_STEP}}:</label>
                      <input id="id_step_range" type="text" value="5">
                    </div>
                  </form>
                </div>
              </div>
              <div id="option_range">
                <div class="input-group">
                  <span class="input-group-addon">T<SUB>max</SUB></span>
                  <input id="id_tmax_option_range" name="tmax" type="text" class="form-control" value="2030">
                  <span class="input-group-addon">r</span>
                  <input id="id_r_option_range" name="tmax" type="text" class="form-control" value="1">
                  <span class="input-group-addon">&gamma;</span>
                  <input id="id_gamma_option_range" name="tmax" type="text" class="form-control" value="2">
                  <span class="input-group-addon">&theta;</span>
                  <input id="id_theta_option_range" name="tmax" type="text" class="form-control" value="1000">
                  <span class="input-group-addon">&sigma;</span>
                  <input id="id_free_sigma_option_range" name="tmax" type="text" class="form-control" value="3">
                </div>
                <br>
              </div>
            </div>

            <!--
              Button et option permanente
            -->
            <div class="checkbox">
              <label><input id="indc_checkbox" type="checkbox" value="">{{web_page_content.Show_INDC}}</label>
            </div>
            <center>
              <button type="button" id="plot_button" class="btn btn-light btn-lg">
                {{web_page_content.Plot}}
              </button>
            </center>
            <br>

          </div>


        </div>
      </div>

    </div>


    <!--
        Definition des Emplacements contenant les explications
      -->

    <!--
        Modal OVERVIEW
      -->
    <div class="modal fade" id="modal_OVERVIEW" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{web_page_content.Modal_title_Overview}}</h4>
          </div>

          <div class="modal-body">
            {{web_page_content.Modal_Overview|safe}}
          </div>
        </div>
      </div>
    </div>

    <!--
        Modal VISUALIZE
      -->
    <div class="modal fade" id="modal_VISUALIZE" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{web_page_content.Modal_title_Visualize}}</h4>
          </div>

          <div class="modal-body">
            {{web_page_content.Modal_Visualize|safe}}
          </div>
        </div>
      </div>
    </div>

    <!--
        Modal EFFORT_VISUALIZATION
      -->
    <div class="modal fade" id="modal_EFFORT_VISUALIZATION" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{web_page_content.Modal_title_Effort_Visualisation}}</h4>
          </div>

          <div class="modal-body">
            {{web_page_content.Modal_Effort_Visualisation|safe}}
          </div>
        </div>
      </div>
    </div>

    <!--
        Modal CHALLENGE_YOUR_INDC
      -->
    <div class="modal fade" id="modal_CHALLENGE_YOUR_INDC" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{web_page_content.Modal_title_Challenge_Your_INDC}}</h4>
          </div>

          <div class="modal-body">
            {{web_page_content.Modal_Challenge_Your_INDC|safe}}
          </div>
        </div>
      </div>
    </div>

    <!--
        Modal EXPERT
      -->
    <div class="modal fade" id="modal_EXPERT" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{web_page_content.Modal_title_Expert}}</h4>
          </div>

          <div class="modal-body">
            {{web_page_content.Modal_Expert|safe}}
          </div>
        </div>
      </div>
    </div>

    <!--
        Modal ENVELOPE
      -->
    <div class="modal fade" id="modal_ENVELOPE" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{web_page_content.Modal_title_Envelope}}</h4>
          </div>

          <div class="modal-body">
            {{web_page_content.Modal_Envelope|safe}}
          </div>
        </div>
      </div>
    </div>

    <!--
        Modal RANGE
      -->
    <div class="modal fade" id="modal_RANGE" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{web_page_content.Modal_title_Range}}</h4>
          </div>

          <div class="modal-body">
            {{web_page_content.Modal_Range|safe}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
      Modal author
    -->
  <div class="modal fade" id="modal_author" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{web_page_content.Modal_title_author}}</h4>
        </div>

        <div class="modal-body">
          {{web_page_content.Modal_author|safe}}
        </div>
      </div>
    </div>
  </div>

  <!--
      Modal credit
    -->
  <div class="modal fade" id="modal_credit" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{web_page_content.Modal_title_credit}}</h4>
        </div>

        <div class="modal-body">
          {{web_page_content.Modal_credit|safe}}
        </div>
      </div>
    </div>
  </div>

  <!--
      Modal download
    -->
  <div class="modal fade" id="modal_download" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{web_page_content.Modal_title_download}}</h4>
        </div>

        <div class="modal-body">
          {{web_page_content.Modal_download|safe}}
        </div>
      </div>
    </div>
  </div>

  <!--
      Modal contact
    -->
  <div class="modal fade" id="modal_contact" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{web_page_content.Modal_title_contact}}</h4>
        </div>

        <div class="modal-body">
          {{web_page_content.Modal_contact|safe}}
        </div>
      </div>
    </div>
  </div>

  <footer>
    
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item" role="presentation"><a href="#" id="button_author">{{web_page_content.Footer_Authors|safe}}</a></li>
          <li class="nav-item" role="presentation"><a href="#" id="button_credit">{{web_page_content.Footer_Credits|safe}}</a></li>
          <li class="nav-item" role="presentation"><a href="#" id="button_download">{{web_page_content.Footer_Download|safe}}</a></li>
          <li class="nav-item" role="presentation"><a href="#" id="button_contact">{{web_page_content.Footer_Contact|safe}}</a></li>
        </ul>
      
  </footer>

  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
  <script src="https://highcharts.github.io/export-csv/export-csv.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="{% static 'css/bootstrap-4.6.2-dist/js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jq_redemCurve.js' %}"></script>
</body>

</html>